.fa-gear {
    color: #0d6efd;
}

.wd-main-content .list-group img {
    border-radius: 10px;
    height: 70px;
    width: 70px;
}

.wd-main-content .list-group-item {
    color: gray;
}

.wd-wtf img {
    width: 15%;
}

.
